/*///////////////////////////////////*/
/*/             Grid                /*/
/*///////////////////////////////////*/

main {
  max-width: 750px;
  margin: 20px auto;
}

.gallery {
  display: grid;
  justify-content: center;
  margin: 0 10px;
  grid-template-columns: repeat(4, minmax(90px, 1fr));
  grid-auto-rows: minmax(90px, auto);
  grid-gap: 15px;
}