/*///////////////////////////////////*/
/*/             Grid                /*/
/*///////////////////////////////////*/

main {
  max-width: 1024px;
  margin: 20px auto;
}

.gallery {
  display: grid;
  justify-content: center;
  margin: 0 10px;
  grid-template-columns: repeat(4, minmax(60px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(60px, auto));
  grid-gap: 15px;
}