/*//////////////////////////////////////*/
/*//            Search Bar            //*/
/*//////////////////////////////////////*/

nav {
  display: flex;
  justify-content:center;
}

#searchbar {
  font-size: 1.5em;
  width: 95%;
  max-width: 750px;
  margin: 20px auto;
  padding: 1em;
  border-radius: 10px;
  border-style: none;
  &:hover {
    padding: 1.25em;
    border-radius: 15px;
    transition-duration: 0.4s;
  }
  &:focus {
    padding: 1.25em;
    border-radius: 30px;
    outline: none;
  }
}