/*///////////////////////////////////*/
/*/             Base                /*/
/*///////////////////////////////////*/

@use "../utilities" as *;

* {
  box-sizing: border-box;
}

body {
  background-color: $secondary-color;
}

header {
  background-color: $primary-color;
}
